##ignorethisfile##
/target/
.classpath
.project
*.class
.settings
*.prefs
*.component
*.lst

##filterdatabfile、slnfile##
*.mdb
*.ldb
*.sln
##classfile##
*.com
*.class
*.dll
*.exe
*.o
*.so
#compressionfile
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.via
*.tmp